@font-face {
    font-family: 'Montserrat Regular';
    src: url('fonts/Montserrat-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat Medium';
    src: url('fonts/Montserrat-Medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat Bold';
    src: url('fonts/Montserrat-ExtraBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'Montserrat Regular';
   font-size: 16px;
}

body {
    background-color: #333;
}

a {
    text-decoration: none;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

.container {
    max-width: 1110px;
    margin: 0 auto;
}

.header {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    padding-top: 30px;
}

.header__left {
    float: left;
}

.header__right {
    float: right;
}

.header-logo {
    display: inline-block;
    font-family: 'Montserrat Bold';
    color: #fff;
    font-size: 23px;
    font-weight: 700;
}

.header__nav {
    display: inline-block;
}

.header__nav ul {
    list-style-type: none;
    margin-left: 10px;
}

.header__nav ul li {
    display: inline-block;
    margin: 0 12px;
}

.header__nav ul li a {
    color: #fff;
}

.header__login {
    border: none;
    width: 120px;
    height: 40px;
    border-radius: 3px;
    font-weight: 500;
    line-height: 40px;
    color: #fff;
    background-color: transparent;
    box-shadow: 0 0 0 1px #fff;
}


/* first block */

.first {
    background-image: url(img/first-img.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}